#map-canvas {
    height: 400px;
    width: 800px;
    margin: 0px auto;
    padding: 0px
}

#content { text-align: center;}
table {
    margin: 0 auto;
    border-collapse: collapse;
}

table tr td {
    text-align: left;
    border: 1px solid #000;
}

input { width: 96%; }