html, body, #content, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid {
    position: absolute;
    top: 28px;
    right: 0;
    min-height: 400px;
    width: 300px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.hideBtn {
    position: absolute;
    top: 4px;
    right: 4px;
}

.active { color: #000000; }
.deactive { color: darkgray !important;}