#content > h2 { text-align: center;}

#map-canvas {
    height: 400px;
    width: 800px;
    margin: 0px auto;
    padding: 0px
}

.grid {
    min-height: 400px;
    max-height: 1000px;
    width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.active { color: #000000; }
.deactive { color: darkgray !important;}