@main("Krasnodar evacuation") {
    <div id="content">
        <div id="map-canvas"></div>
        <div ng-app="BadCarApp">
            <div class="view-container" ng-controller="CarCtrl">
                <button type="button" class="hideBtn" ng-click="hideGrid = !hideGrid">
                    {{ hideGrid && 'Show' || 'Hide' }} Details
                </button>
                <div class="well" ng-hide="hideGrid">
                    <div ui-grid="gridOptions" class="grid" ui-grid-infinite-scroll ui-grid-cellnav></div>
                </div>
            </div>
        </div>
    </div>
}
