@main("Play+Angular") {
    <div ng-app="BadCarApp">
        <div class="view-container" ng-controller="CarCtrl">
            <table style="border: 1px solid #000;">
                <thead>
                    <th>Mark</th>
                    <th>Number</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th>TimeStamp</th>
                </thead>
                <tbody>
                    <tr style="border: 1px solid #000;">
                        <td><input type="text" ng-model="search.mark.title"></td>
                        <td><input type="text" ng-model="search.number"></td>
                        <td><input type="text" ng-model="search.fromplace"></td>
                        <td><input type="text" ng-model="search.date"></td>
                        <td><input type="text" ng-model="search.timestamp"></td>
                    </tr>
                    <tr ng-repeat="car in badcars.list| filter:search" style="border: 1px solid #000;">
                        <td>{{car.mark.title}}</td>
                        <td>{{car.number}}</td>
                        <td>{{car.fromplace}}</td>
                        <td>{{car.date}}</td>
                        <td>{{car.timestamp}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
